body{
    background-color: #ffffff;
    font-family:"Monstsorrat", sans-serif;
    font-size: 14px;

}

h1{
    color:aqua;
    margin-Left: 30px;
}

p{
    color:aquamarine;
    margin-left: 30px;



}

ing {
    width: 50%;
border-radius: 10px;
}